*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5%;
	padding-left: 5%;
	background-color: black;
	border-bottom: 1px grey;
	width: 100%;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 25 px;

}
nav ul li a {
	padding: 15px;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	position: revert-layer;
}
nav ul li a:hover {
	color: crimson;
	transition: 0.5s;
}
.Gamelan {
	width: 100%;
	padding: 100px 0;
	background-color: white;
}
.alat-gamel{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.alat-gamel img {
	height: auto;
	width: 450px;
	border-radius: 30px;
}
.gamel-text {
	width: 550px;
}
.gamel-text h2 {
	color: black;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}
.gamel-text p {
	color: black;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 15px;
	margin-bottom: 45px;
	text-align: justify;
}
.gambyong {
	width: 100%;
	padding: 100px 0;
	background-color: white;
}
.tari-gambyong{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.tari-gambyong img {
	height: auto;
	width: 450px;
	border-radius: 30px;
}
.gambyong-text {
	width: 550px;
}
.gambyong-text h2 {
	color: black;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}
.gambyong-text p {
	color: black;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 15px;
	margin-bottom: 45px;
	text-align: justify;
}
.laut {
	width: 100%;
	padding: 100px 0;
	background-color: white;
}
.sedekah-laut{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sedekah-laut img {
	height: auto;
	width: 450px;
	border-radius: 30px;
}
.laut-text {
	width: 550px;
}
.laut-text h2 {
	color: black;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid red;
}
.laut-text p {
	color: black;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 15px;
	margin-bottom: 45px;
	text-align: justify;
}